statsig-python-core
setuptools
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
opentelemetry-api
python-dotenv
pytest
pytest-httpserver
pytest-asyncio
werkzeug
openai
typing_extensions>=4.1.0
